[Desktop Entry]
Version=1.0
Name=MouseWheel        
Comment=Run imwheel on startup
Exec=bash -c 'imwheel'
Icon=utilities-terminal
Terminal=false 
Type=Application
Categories=Application;
