#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Satori Reader
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=cdgdffaefdpjebkfdabammkboeomeeck
Icon=brave-cdgdffaefdpjebkfdabammkboeomeeck-Default
StartupWMClass=crx_cdgdffaefdpjebkfdabammkboeomeeck
