#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Journalistic
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=bekjgpbfkgadngcalmlhalojdngbgicb
Icon=brave-bekjgpbfkgadngcalmlhalojdngbgicb-Default
StartupWMClass=crx_bekjgpbfkgadngcalmlhalojdngbgicb
Actions=Add-Gem;Add-Idea;Add-Note

[Desktop Action Add-Gem]
Name=Add Gem
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=bekjgpbfkgadngcalmlhalojdngbgicb --app-launch-url-for-shortcuts-menu-item=https://pwa.journalisticapp.com/notes/create

[Desktop Action Add-Idea]
Name=Add Idea
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=bekjgpbfkgadngcalmlhalojdngbgicb --app-launch-url-for-shortcuts-menu-item=https://pwa.journalisticapp.com/notes/create

[Desktop Action Add-Note]
Name=Add Note
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=bekjgpbfkgadngcalmlhalojdngbgicb --app-launch-url-for-shortcuts-menu-item=https://pwa.journalisticapp.com/notes/create
